<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" [routerLink]="['/']">
    <img src="assets/logo.jpeg" alt="logo" loading="lazy" >
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse  navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

        <li class="nav-item ">
          <a class="nav-link " [routerLink]="['/']">
            <span class="fas fa-home"></span>
            Inicio</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fas fa-shopping-cart"></span>
            Productos
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right"  aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['registrar-producto']">Registrar Producto</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['listar-productos']">Lista de Productos</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span class="fas fa-cash-register"></span>
            Ventas
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['registrar-ventas']">Registrar Venta</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['listar-ventas']">Lista de Ventas</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span class="fas fa-wallet"></span>
            Compras
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" >Registrar Compra</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" >Lista de compras</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span class="fas fa-truck-moving"></span>
             Proveedores
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['registrar-proveedor']">Registrar Proveedor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['listar-proveedores']">Lista de Proveedores</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span class="fas fa-clipboard"></span>
            Reportes
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"   [routerLink]="['reportes-ventas']">Reportes de Ventas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" >Reportes de compras</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span class="fas fa-user"></span>
            Usuarios
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['registrar-usuario']">Registrar Usuarios</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['listar-usuario']">Lista de Usuarios</a>
          </div>
        </li>
    </ul>
  </div>
</nav>
