<div class="col mb-3 ">
    <div class="card-body text-center" style="padding: 25px;">
      <div class="logo">
          <img src="assets/logo.jpeg" alt="logo" loading="lazy" >
      </div>
    </div>
    <div class="card-subtarjetas mb-2" style="max-width: 100%;">
      <div class="row no-gutters ">
        <div class="card-body " style="padding: 25px;">
          <h3 class="text-center">Lo sentimos</h3>
          <p class="text-center">
            no se encontro la página solicitada
          </p>
        </div>
      </div>
    </div>
  </div>
