<form method="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">						
                <h4 class="modal-title">Devolver Venta</h4>
                <button routerLink="/listar-ventas" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">					
                <p>¿ Desea devolver la venta ?</p>
                <p class="text-warning"><small>Arroz</small></p>
            </div>
            <div class="modal-footer">
                <input routerLink="/listar-ventas" type="button" class="btn btn-primary" data-dismiss="modal" value="Cancelar">
                <input type="submit" class="btn btn-danger" value="Devolver">
            </div>
        </div>
    </div>
</form>