
div{
    background: #D5D8E1;
    border-radius: 10px;
}

.card-primary{
  width: 1175px;
}

.alerta {
  width: 100%;
  border: none;
}

.b_alert{
  float: right;
}

.alert{
  background: rgba(255, 50, 50, 0.7);
  color: black;
}
