<!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
  </style>
  <script>
  $(document).ready(function(){
      // Activate tooltip
      $('[data-toggle="tooltip"]').tooltip();

      // Select/Deselect checkboxes
      var checkbox = $('table tbody input[type="checkbox"]');
      $("#selectAll").click(function(){
          if(this.checked){
              checkbox.each(function(){
                  this.checked = true;
              });
          } else{
              checkbox.each(function(){
                  this.checked = false;
              });
          }
      });
      checkbox.click(function(){
          if(!this.checked){
              $("#selectAll").prop("checked", false);
          }
      });
  });
  </script>
  </head>
  <body>
      <div class="container">
          <!--buscador-->
          <form class="form-inline ml-auto" >
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><h5>Buscar Proveedor</h5></button>
          </form>

          <div class="table-responsive">
              <div class="table-wrapper">
                  <div class="table-title">
                      <div class="row">
                          <div class="col-xs-6">
                              <h2>Lista de <b>Proveedores</b></h2>
                          </div>
                          <div class="col-xs-6">
                              <a class="btn btn-success" routerLink="/registrar-proveedor" data-toggle="modal"><i class="material-icons" >&#xE147;</i> <span>Añadir Proveedor</span></a>
                          </div>
                      </div>
                  </div>
                  <table class="table table-striped table-hover">
                      <thead>
                          <tr>
                              <th>
                                  <span class="custom-checkbox">
                                      <input type="checkbox" id="selectAll">
                                      <label for="Seleccionar todo"></label>
                                  </span>
                              </th>
                              <th>Código</th>
                              <th>Nombre</th>
                              <th>Descripción</th>
                              <th>Teléfono</th>
                              <th>Celular</th>
                              <th>Email</th>
                              <th>Días de visita</th>
                              <th>Opciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>
                                  <span class="custom-checkbox">
                                      <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                      <label for="checkbox1"></label>
                                  </span>
                              </td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>
                                  <a class="edit" data-toggle="modal" routerLink="/actualizar-proveedor"><i class="material-icons" data-toggle="tooltip" title="Actualizar" >&#xE254;</i></a>
                                  <a class="delete" data-toggle="modal" routerLink="/eliminar-proveedor"><i class="material-icons" data-toggle="tooltip" title="Eliminar" >&#xE872;</i></a>

                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </body>
</html>

