<div>
  <form novalidate [formGroup]= "registrarForm">
    <h1 class="text-center">REGISTRAR PRODUCTO</h1>

    <div class="form-row">
      <label for="inputNombre">Nombre de producto</label>
      <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" formControlName='nombre'>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPrecio">Precio Unitario</label>
        <input type="text" class="form-control" id="inputPrecio" placeholder="00,00" formControlName='precio'>
      </div>
      <div class="form-group col-md-6">
        <label for="inputStock">Stock</label>
        <input type="text" class="form-control" id="inputStock" placeholder="Stock" formControlName='stock'>
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescripcion">Descripción</label>
      <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripción del producto" formControlName='descripcion'>
    </div>
    <div class="form-group">
      <label for="inputProveedor">Proveedor</label>
      <input type="text" class="form-control" id="inputProveedor" placeholder="Proveedor del proveedor" formControlName='proveedor'>
    </div>
    <div class="modal-footer">
      <button routerLink="/listar-productos" type="button" class="btn btn-primary" (click)=guardarProducto()>Registar Producto</button>
    </div>
  </form>
</div>
