<div class="container">
  <form >
    <h1 class="text-center">ACTUALIZAR PROVEEDOR</h1>

    <div class="form-row">
      <label for="inputProducto">Nombre de proveedor</label>
      <input type="text" class="form-control" id="inputPrveedor" placeholder="Proveedor" formControlName='nombre'>
    </div>

    <div class="form-group">
      <label for="inputDescripcionProv">Descripción</label>
      <input type="text" class="form-control" id="inputDescripcionProv" placeholder="Descripción del proveedor" formControlName='descripcion'>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputTelf">Teléfono</label>
        <input type="text" class="form-control" id="inputTelf" placeholder="Teléfono" formControlName='telefono'>
      </div>
      <div class="form-group col-md-6">
        <label for="inputCel">Celular</label>
        <input type="text" class="form-control" id="inputCel" placeholder="Celular" formControlName='celular'>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" formControlName='email'>
      </div>
      <div class="form-group col-md-6">
        <label for="inputDias">Días de visita</label>
        <input type="text" class="form-control" id="inputDias" placeholder="Días de visita" formControlName='dias_visita'>
      </div>
    </div>
  
    <div class="modal-footer">
      <button routerLink="/listar-proveedores" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      <button routerLink="/listar-proveedores" type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>
  </form>
</div>
