<form method="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Usuario</h4>
                <button routerLink="/listar-usuarios" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>¿ Desea eliminar el usuario ?</p>
            </div>
            <div class="modal-footer">
                <input routerLink="/listar-usuario" type="button" class="btn btn-primary" data-dismiss="modal" value="Cancelar">
                <button type="button" class="btn btn-danger" (click)="eliminar()" >Eliminar</button>
            </div>
        </div>
    </div>
</form>