<div class="col mb-3 ">
    <div class="card-body text-center" style="padding: 25px;">
      <div class="logo">
          <img src="assets/logo.jpeg" alt="logo" loading="lazy" >
      </div>
    </div>
    <div class="card-subtarjetas mb-2" style="max-width: 100%;">
      <div class="row no-gutters ">
        <div class="card-body " style="padding: 25px;">
          <h3>Misión</h3>
          <p class="text-justify">
            Ser una organización comercial orientada a la distribución de abarrotes
            y seguir comprometidos con la plena satisfacción del cliente a través de
            un trato humano y personalizado.
          </p>
        </div>
      </div>
    </div>
    <div class="card-subtarjetas mb-2" style="max-width: 100%;">
      <div class="row no-gutters ">
        <div class="card-body " style="padding: 25px;">
          <h3>Visión</h3>
          <p class="text-justify">
            Somos una microempresa dedicada a la venta de abarrotes bebidas y
            útiles escolares, y deseamos hacer que nuestros clientes se sientan
            cómodos con el servicio que ofrecemos, de forma que nuestra atención
            esté puesta en la satisfacción mutua a largo palazo. Somos una empresa
            honesta y responsable; y con nuestra experiencia y compromiso queremos
            ganar la confianza de nuestros clientes y proveedores.
          </p>
        </div>
      </div>
    </div>
  </div>
